body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15043 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:360px;
  height:640px;
}
#u15044 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15045 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:360px;
  height:22px;
}
#u15046 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15047 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:2px;
  width:71px;
  height:15px;
  font-size:12px;
}
#u15048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u15049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15049 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:2px;
  width:32px;
  height:15px;
  font-size:12px;
}
#u15050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u15051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u15051 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:2px;
  width:67px;
  height:15px;
  font-size:12px;
}
#u15052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u15053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15053 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:20px;
  width:360px;
  height:38px;
}
#u15054 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u15055 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:27px;
  width:25px;
  height:25px;
}
#u15056 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u15057 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:28px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u15058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
