@import "var";
@import "mixin";
@import "base";

.message-tip{
  $messageWid: 31px;
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  text-align: center;
  min-width: $messageWid;
  @include h_lh($messageWid);
  border-radius: 50%;
  background-color: red;
  color: white;
  transform: translate(50%, -$messageWid/2+10px);
  font-size: 12px; /*no*/
}
