/*全局变量设置*/

/*颜色配置*/
$bgColor: #f5f5f5;
$mainColor: #3d9bff;
$fontColor: #666;
$boederCol:#e8e8e8;

/*字体大小配置*/

$bf:36px;
$mf:32px;
.mfb{
  font-size: 32px;
  color: #333;
}
.mfw{
  font-size: 32px;
  color: #ffffff;
}
.bf{
  font-size: 32px;
}
.mf{
  font-size: 28px;
}
.mfc{
  font-size: 28px;
  color: grey;
}

$commonSpace: 28px;

